.brand-text {
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
}
.nav-nav{
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
}
.span-st {
    color: #2E2F42;
}

.navig-link {
    color: #2E2F42;
    font-weight: 500;
    letter-spacing: 0.02em;
    font-size: 16px;
    line-height: 1.5;
}

.navig-link:hover {
    color: #404BBF;
}
.navig-link:focus {
    color: #404bbf;
}

.address-li {
    font-size: normal;
}

.address-link {
    color: #434455;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: underline;
}

.address-link:hover,
.address-link:focus {
    color: #404BBF;
    text-decoration: underline;
    font-size: 16px;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 56px;
    letter-spacing: 2px;
    line-height: 50px;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 36px;
    letter-spacing: 2px;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: medium;
    font-size: 20px;
    letter-spacing: 2px;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
    font-size: 16px;
    letter-spacing: 2px;
}

button {
    background-color: #4D5AE5;
    font-family: 'Roboto', sans-serif;
    font-weight: medium;
    line-height: 24px;
    letter-spacing: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #404BBF;
    cursor: pointer;
}

.Team-images,
.Portfolio img {
    /* розміри і стилі для .Team-images і .Portfolio img */
}